*.cobaltlog
*.error
*.output
*.o
*.a
*.out
*.pyc
.*
core.*
scripts/execute/*/*.txt
scripts/execute/*/*.out
scripts/execute/*/bfs_*
scripts/execute/*/octree_*
scripts/execute/*/wordcount_*
examples/bfs
examples/wordcount
examples/octree
!.clang-format
*/build/*
