*.cobaltlog
*.error
*.output
*.o
*.a
*.out
*.pyc
.*
core.*
scripts/execute/*/*.txt
scripts/execute/*/*.out
scripts/execute/*/bfs_*
scripts/execute/*/octree_*
scripts/execute/*/wordcount_*
examples/bfs
examples/wordcount
examples/octree
!.clang-format
*/build/*

# editor temp file
*~

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.status
configure
depcomp
install-sh
missing
mimir_config.h
mimir_config.h.in
stamp-h1

