*.cobaltlog
*.error
*.output
*.o
*.a
.*
core.*
scripts/execute/slurm/*.txt
scripts/execute/slurm/*.out
scripts/execute/slurm/bfs_*
scripts/execute/slurm/octree_*
scripts/execute/slurm/wordcount_*
scripts/execute/bgq/*.txt
scripts/execute/bgq/bfs_basic
scripts/execute/bgq/bfs_kvhint
scripts/execute/bgq/bfs_cps
scripts/execute/bgq/bfs_pr
scripts/execute/bgq/bfs_cb
scripts/execute/bgq/bfs_cpskvhint
scripts/execute/bgq/bfs_prkvhint
scripts/execute/bgq/bfs_cbkvhint
scripts/execute/bgq/bfs_cpsprkvhint
scripts/execute/bgq/wordcount_basic
scripts/execute/bgq/wordcount_kvhint
scripts/execute/bgq/wordcount_cps
scripts/execute/bgq/wordcount_pr
scripts/execute/bgq/wordcount_cb
scripts/execute/bgq/wordcount_cpskvhint
scripts/execute/bgq/wordcount_prkvhint
scripts/execute/bgq/wordcount_cbkvhint
scripts/execute/bgq/wordcount_cpsprkvhint
scripts/execute/bgq/octree_basic
scripts/execute/bgq/octree_kvhint
scripts/execute/bgq/octree_cps
scripts/execute/bgq/octree_pr
scripts/execute/bgq/octree_cb
scripts/execute/bgq/octree_cpskvhint
scripts/execute/bgq/octree_prkvhint
scripts/execute/bgq/octree_cbkvhint
scripts/execute/bgq/octree_cpsprkvhint
